images/media-coverage/newspapers/Denik_Ibadat_20100413.pdf
images/media-coverage/newspapers/IMG-20150109-WA0000.jpg
images/media-coverage/newspapers/Jagran, Moradabad, Uttar Pradesh, India, 20141114 (Hindi).pdf
images/media-coverage/newspapers/Jagran, Moradabad, Uttar Pradesh, India, March 02, 2015. (Hindi).pdf
images/media-coverage/newspapers/Jagran, Moradabad, Uttar Pradesh, India, November 14, 2014. (Hindi).pdf
images/media-coverage/newspapers/NavdrishtiTimes-2019.jpg
images/media-coverage/newspapers/NavdrishtiTimes-2019_Hindi.jpeg
images/media-coverage/newspapers/tripti-sharma_press-reviews.pdf
images/music/ad/Tripti Voice Ad.mp4
images/music/jhoola/.DS_Store
images/music/jhoola/banwari.amr
images/music/thumri/naina.amr
images/resume/.DS_Store
images/resume/abstracts.aux
images/resume/applications/.DS_Store
images/resume/applications/CL Tripti Sharma 19870307-3661 ENG.pages
images/resume/applications/CL Tripti Sharma 19870307-3661 SWE.pages
images/resume/applications/CV Tripti Sharma 19870307-3661 ENG.pages
images/resume/applications/CV Tripti Sharma 19870307-3661 SWE.pages
images/resume/applications/opportunity/CL Tripti Sharma 19870307-3661 Dibber.pdf
images/resume/applications/opportunity/CL Tripti Sharma 19870307-3661 Fredsborgskolan.pdf
images/resume/applications/opportunity/CL Tripti Sharma 19870307-3661 IES.pdf
images/resume/applications/opportunity/CL Tripti Sharma 19870307-3661 ISSR.pdf
images/resume/applications/opportunity/CV Tripti Sharma 19870307-3661 ENG.pdf
images/resume/applications/opportunity/CV Tripti Sharma 19870307-3661 SWE.pdf
images/resume/applications/opportunity/Fredsborgskolan AB Åkersberga 2024-07-24.pdf
images/resume/applications/resume/.DS_Store
images/resume/applications/resume/English/abstracts.aux
images/resume/applications/resume/English/conferences.aux
images/resume/applications/resume/English/journal.aux
images/resume/applications/resume/English/seminars.aux
images/resume/applications/resume/English/seminars.bib
images/resume/applications/resume/English/submittedjournal.aux
images/resume/applications/resume/English/thesesSharma.aux
images/resume/applications/resume/English/thesesSharma.bib
images/resume/applications/resume/English/TSharma_CV.aux
images/resume/applications/resume/English/TSharma_CV.log
images/resume/applications/resume/English/TSharma_CV.out
images/resume/applications/resume/English/TSharma_CV.pdf
images/resume/applications/resume/English/TSharma_CV.synctex.gz
images/resume/applications/resume/English/TSharma_CV.tex
images/resume/applications/resume/Swedish/abstracts.aux
images/resume/applications/resume/Swedish/conferences.aux
images/resume/applications/resume/Swedish/journal.aux
images/resume/applications/resume/Swedish/seminars.aux
images/resume/applications/resume/Swedish/seminars.bib
images/resume/applications/resume/Swedish/submittedjournal.aux
images/resume/applications/resume/Swedish/thesesSharma.aux
images/resume/applications/resume/Swedish/thesesSharma.bib
images/resume/applications/resume/Swedish/TSharma_CV.aux
images/resume/applications/resume/Swedish/TSharma_CV.log
images/resume/applications/resume/Swedish/TSharma_CV.out
images/resume/applications/resume/Swedish/TSharma_CV.pdf
images/resume/applications/resume/Swedish/TSharma_CV.synctex.gz
images/resume/applications/resume/Swedish/TSharma_CV_SWE.aux
images/resume/applications/resume/Swedish/TSharma_CV_SWE.log
images/resume/applications/resume/Swedish/TSharma_CV_SWE.out
images/resume/applications/resume/Swedish/TSharma_CV_SWE.pdf
images/resume/applications/resume/Swedish/TSharma_CV_SWE.synctex.gz
images/resume/applications/resume/Swedish/TSharma_CV_SWE.tex
images/resume/bio/.DS_Store
images/resume/bio/biodata/.DS_Store
images/resume/bio/biodata/Tripti_Sharma-Biodata_20200524.pdf
images/resume/bio/biodata/Tripti_Sharma-Biodata_20220521.pdf
images/resume/bio/biodata/Tripti_Sharma-Biodata_20220816.pdf
images/resume/bio/biodata/Tripti_Sharma_Biodata_20180309.pdf
images/resume/bio/biodata/Tripti_Sharma_Biodata_20200524.pdf
images/resume/bio/biodata/Tripti_Sharma_Biodata_20230705.pdf
images/resume/bio/biodata/Tripti_Sharma_Biodata_20231113.pdf
images/resume/bio/music cover letters/Tripti_Sharma_Letter-to-Embassy_20220521.pages
images/resume/bio/music cover letters/Tripti_Sharma_Letter_to_Embassy_Master_Copy.pages
images/resume/bio/personal letter for CSN .pages
images/resume/bio/src/.DS_Store
images/resume/bio/src/seminars.aux
images/resume/bio/src/seminars.bbl
images/resume/bio/src/seminars.bib
images/resume/bio/src/seminars.blg
images/resume/bio/src/submittedjournal.aux
images/resume/bio/src/thesesSharma.aux
images/resume/bio/src/thesesSharma.bbl
images/resume/bio/src/thesesSharma.bib
images/resume/bio/src/thesesSharma.blg
images/resume/bio/src/thesesSharma.log
images/resume/bio/src/TSharma_BIO.tex
images/resume/bio/src/TSharma_CV.aux
images/resume/bio/src/TSharma_CV.bbl
images/resume/bio/src/TSharma_CV.blg
images/resume/bio/src/TSharma_CV.log
images/resume/bio/src/TSharma_CV.out
images/resume/bio/src/TSharma_CV.pdf
images/resume/bio/src/TSharma_CV.synctex.gz
images/resume/bio/src/TSharma_CV.tex
images/resume/bio/Tripti Sharma - Biodata -  copy.pages
images/resume/bio/Tripti Sharma - Biodata - .pages
images/resume/bio/Tripti Sharma - Biodata - PPT Master Copy.key
images/resume/bio/Tripti-Sharma-2025.pages
images/resume/conferences.aux
images/resume/conferencetalk.aux
images/resume/invitedtalk.aux
images/resume/journal.aux
images/resume/patentsissued.aux
images/resume/patentspublished.aux
images/resume/preprints.aux
images/resume/technical.aux
images/resume/technicaldemo.aux
images/resume/theses.aux
images/resume/tripti sharma copy.docx
images/resume/Tripti Sharma Cover Letter 2025-05-07.pdf
images/resume/TRIPTI SHARMA.docx
images/resume/tsharma_resume_2025.aux
images/resume/tsharma_resume_2025.log
images/resume/tsharma_resume_2025.out
images/resume/tsharma_resume_2025.pdf
images/resume/tsharma_resume_2025.synctex.gz
images/resume/tsharma_resume_2025.tex
images/resume/Untitled.pages
images/portfolio/biodata/.DS_Store
images/portfolio/biodata/Tripti Sharma-Biodata_20250606 .pages
images/portfolio/biodata/Tripti-Sharma-Biodata_20250628.pages
images/portfolio/biodata/Tripti_Sharma-Biodata_20200524.pdf
images/portfolio/biodata/Tripti_Sharma-Biodata_20220521.pdf
images/portfolio/biodata/Tripti_Sharma-Biodata_20220816.pdf
images/portfolio/biodata/Tripti_Sharma-Biodata_20230705.pdf
images/portfolio/biodata/Tripti_Sharma-Biodata_20231113.pdf
images/portfolio/letters/Tripti-Sharma_Letter.pages
images/portfolio/letters/Tripti_Sharma_Letter-to-Embassy_20220521.pages
images/portfolio/resume/.DS_Store
images/portfolio/resume/applications/.DS_Store
images/portfolio/resume/applications/CL Tripti Sharma 19870307-3661 Dibber 2025-06-28.pdf
images/portfolio/resume/applications/CL Tripti Sharma 19870307-3661 Dibber.pdf
images/portfolio/resume/applications/CL Tripti Sharma 19870307-3661 ENG v0.pages
images/portfolio/resume/applications/CL Tripti Sharma 19870307-3661 ENG v1.pages
images/portfolio/resume/applications/CL Tripti Sharma 19870307-3661 Fredsborgskolan.pdf
images/portfolio/resume/applications/CL Tripti Sharma 19870307-3661 IES.pdf
images/portfolio/resume/applications/CL Tripti Sharma 19870307-3661 ISSR 2024-08-12.pdf
images/portfolio/resume/applications/CL Tripti Sharma 19870307-3661 ISSR 2025-05-07.pdf
images/portfolio/resume/applications/CV Tripti Sharma 19870307-3661 Dibber 2025-06-28.pdf
images/portfolio/resume/applications/CV Tripti Sharma 19870307-3661 ENG.pdf
images/portfolio/resume/applications/CV Tripti Sharma 19870307-3661 SWE.pdf
images/portfolio/resume/applications/JOB Fredsborgskolan AB Åkersberga 2024-07-24.pdf
images/portfolio/resume/CL personal letter for CSN .pages
images/portfolio/resume/CL Tripti Sharma 19870307-3661 SWE.pages
images/portfolio/resume/CV Tripti Sharma 19870307-3661 2014-08-07.docx
images/portfolio/resume/CV Tripti Sharma 19870307-3661 ENG.pages
images/portfolio/resume/CV Tripti Sharma 19870307-3661 ENG.tex
images/portfolio/resume/CV Tripti Sharma 19870307-3661 SWE.aux
images/portfolio/resume/CV Tripti Sharma 19870307-3661 SWE.log
images/portfolio/resume/CV Tripti Sharma 19870307-3661 SWE.out
images/portfolio/resume/CV Tripti Sharma 19870307-3661 SWE.pages
images/portfolio/resume/CV Tripti Sharma 19870307-3661 SWE.pdf
images/portfolio/resume/CV Tripti Sharma 19870307-3661 SWE.synctex.gz
images/portfolio/resume/CV Tripti Sharma 19870307-3661 SWE.tex
images/portfolio/resume/Tripti_Sharma_Biodata_20200524.pdf
images/portfolio/resume/TSharma_BIO.tex
images/portfolio/resume/TSharma_CV.pdf
images/portfolio/resume/TSharma_CV.tex
images/portfolio/resume/tsharma_resume_2025.pdf
images/portfolio/resume/tsharma_resume_2025.tex
